.messageToDo {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 600px;
    margin: 10px auto;
    list-style: none;
    text-align: left;
    z-index: -1;
}
.close {
    border: none;
    background: #fff;
    float: right;
}
#checked {
    float: left;
    margin-right: 10px;
    background: #000;
}
label {
    display: none;
    width: 90px;
    float: left;
    margin-right: 10px;
}
#checked:checked + label{
    display: block;
    background: #62ff41;
    z-index: 1;
}
#checked:checked ~ .close {
    display: none;
}