.addTaskForm {
    margin: 10px auto;
    width: 650px;
}
.id {
    float: left;
    padding: 8px 10px;
    margin: 0 5px 0 0;
    border-radius: 15px;
    border: 1px solid black;
    width: 50px;
    font-size: 15px;
}
.message {
    padding: 8px 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 440px;
    font-size: 15px;
}
.button {
    padding: 8px 20px;
    margin-left: 5px;
    border-radius: 15px;
    background: #328bff;
    color: #fff;
    border: 1px solid black;
}
